{% extends 'menu.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col">
            <h3 class="text-muted text-center" style="margin-bottom: 3%;">Tus próximas citas</h3>
        </div>
    </div>
    {% for citas in citas %}
        <div class="row">
            {% for usuario in usuarios %}

                {% if (usuario.id == citas.idReceptor) and (citas.usuarios.id == user.id) and (citas.estado == "pendiente") %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <h4 class="text-muted text-center">{{ usuario.username }}</h4>
                        {% for foto in galerias %}
                            {% if foto.usuarios.id == usuario.id%}
                                <img style="margin-left: 35%" class="imagenPerfil" src="{{ foto.foto }}" alt="Foto Perfil" width="100" height="100">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="citainfo" class="col-lg-5 col-md-6 col-sm-12 col-12">
                        <p class="card-text"><strong>Fecha: </strong>{% if citas.fecha %}{{ citas.fecha|date('Y-m-d') }}{% endif %} </p>
                        <p class="card-text"><strong>Hora: </strong>{% if citas.fecha %}{{ citas.fecha|date('H:i:s') }}{% endif %} </p>
                        <p class="card-text"><strong>Dirección: </strong>{{ citas.direccion }}</p>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <a class="boton2" href="">Cancelar</a>
                    </div>
                    <hr class="jumbotron-hr" style="width: 80%;">

                {% endif %}
            {% endfor %}

        </div>

    {% endfor %}
{% endblock %}
