<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}BuhoDate | ESFOT{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Parisienne" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light" id="menuprincipal">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('usuario_index') }}"><img class="logo" src="{{ asset('image/logo1.png') }}" alt="logo buho"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="perfil-menu" class="navbar-nav mr-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link active" href="{{ path('usuario_index') }}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('usuario_show', { 'id': app.user.id }) }}">Perfil</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cita_index') }}">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cita_not') }}">Notificaciones</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Salir</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

</div>
<div class="container">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 text-muted">
                    <p><strong>BuhoDate</strong> Copyright: © 2017. Todos los derechos reservados.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4" id="foot_SN">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/localization/messages_es.js') }}"></script>
    <script src="{{ asset('js/additional-methods.min.js') }}"></script>
    <script src="{{ asset('js/js.cookie.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
